<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cell/1.1.0/cell.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>

<!-- Handlerbars Template -->
<script type="text/template" id='media'>
  <div class="media">
    <img class="d-flex mr-3" src="{{image}}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">{{title}}</h5>
      {{content}}
    </div>
  </div>
</script>
<script type="text/template" id='card'>
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{image}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">{{content}}</p>
    <a href="#" class="btn btn-primary">Do nothing</a>
  </div>
</div>
</script>

<!-- App -->
<script>
var template = {
  media: Handlebars.compile(document.getElementById('media').innerHTML),
  card: Handlebars.compile(document.getElementById('card').innerHTML),
}
var media = function(data){
  return { $type: "div", style: "padding: 30px;", $html: template.media(data) }
}
var card = function(data){
  return { $type: "div", class: "col-sm-5", $html: template.card(data) }
}
var data = {}

app = {
  $cell: true,
  style: "padding: 30px;",
  _data: [],
  _currentItems: [],
  $components: [
    { $components: [media(data), media(this._data)] },
    { class: "row", $components: [card(this._data), card(data)] }
  ],
  $init: function() {
    request = "./api/employee/80009985";
    fetch(request)
      .then(response => {
        data = response
        return response.json();
      })
      .then(response => {
        this._data = data;
        return data;
      });
  }
}
</script>
</html>
